// colors
$color-primary: #001d3d;
$color-primary-dark: #000814;
$color-primary-light: #003566;

$color-secondary: #ffd60a;
$color-secondary-dark: #ffc300;

$color-special1: #7D84FF;
$color-special1-dark: #4a54ff;
$color-special2: #F265FF;
$color-text: #ffffff;


// break-points
$bp-extra_large: 75em;  // 1200px
$bp-large: 59.375em;     // 950px
$bp-medium: 46.875em;   // 750px
$bp-small: 28.125em;    // 450px

:root {
    --header-height: 6rem;
}



html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;

    @media only screen and(max-width: $bp-large) {
        font-size: 50%;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    // height: 100vh;
    // overflow-y: hidden;
}

.body-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

a:link,
a:visited {
    text-decoration: none;
}